.header {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 30px;
  margin-top: 10px;

  & div {
    width: 100%;
  }

  & h1 {
    text-transform: uppercase;
  }
}

.headerShort {
  & div {
    @media screen and(min-width: 992px) {
      width: max(60%, 26rem);
    }
  }
}
