.mainCont {
  grid-area: main;
  display: grid;
  grid:
    [row1-start] 'header' 10vh [row1-end]
    [row2-start] 'home' auto [row2-end]
    / auto;
  min-height: 100%;
}

.headerCont {
  grid-area: header;
}

.homeCont {
  grid-area: home;
  background-image: url('/infrastructure/assets/images/mainBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: exclusion;
}
