.fullDetailCont {
  width: 100%;
  @media screen and (min-width: 992px) {
    width: 100%;
  }
}

.imgCont {
  @media screen and (min-width: 992px) {
    width: 50%;
  }
}

.descCont {
  @media screen and (min-width: 992px) {
    width: 50%;
  }
}
